@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body * {
    box-sizing: border-box;
}
.main-login {
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.left-login > h1 {
    font-size: 3vw;
    color: #ec5c8c;
    padding: 30px;
}

.left-login-img {
    width: 45vw;
    
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: lightblue;
    border-radius: 20px;
    box-shadow: 0px 10px 10px lightblue;
    
}

.card-login > h1 {
    color: #5487c4;
    
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;

}

.textfield-input {
  height: 30px;
  width: 100%;
  background-color: lightblue ;
  box-sizing: border-box;
  padding-left: 8px;
  border: unset;
  outline: none;

}
.login-border {
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #5487c4 ;
    transition: .3s ease-in-out;
   
}
.login-border::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 16px;
    background: linear-gradient(120deg, #ec5c8c, white );
    transition: .3s ease-in-out;
}

.textfield-input:focus + .login-border::after {
    width: 100%;
} 

.login-border.error {
    background: red;
}
.login-border.error:after {
    background: red;
}



.textfield > label {
    color: #5487c4;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: rgba(177, 177, 177, 0.637);
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    outline: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: white;
    background: #5487c4;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px white;
    

}
.btn-login:hover {
    background-color: #69a7f3 ;
}
.btn-login:disabled {
    background: #acacac;
    cursor: not-allowed;
}

.btn-login.error {
    background: red;
}
.btn-login.success {
    background: green;
}


@media only screen and (max-width: 950px){
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }

    .left-login > h1 {
        display: none;
    }
    .left-login{
        width: 100% ;
        height: auto;
        margin-bottom: 20px;
    }
    .right-login{
        width: 100% ;
        height: auto;
    }
    .left-login-img{
        width: 50vw;
    }
    .card-login{
        width: 90%;
    }
}
